  @media only screen and (min-width: 992px) {
    .filters_bar{
        position: sticky;
        top: 220 px;
        -ms-flex: 0 0 280px;
        flex: 0 0 280px;
        margin-top: 2px;
        margin-right: 40px;
        width: 280px;
       padding-top: 5px;
      }
  }
 
  .filters_bar{
    border-color: var(--doree-color) !important;
  }
  @media only screen and (min-width: 992px) {
    .filters_bar {
      min-width: 280px;
    }
  }
 
  .cat_title{
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 60px !important;
    font-weight: 600;
    padding-left: 10px;
  }
